<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>

{% if session['logged_in'] %}

	{% if data %}
	<h3>{{data}}</h3>
	{% else %}

	<a href="/logout">Logout</a> <br> <br>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">Task Trecker v.0.0.1</h1>
	<form id="nubexForm" class="ui form" action="{{url_for('add')}}" method="post">
            <div class="field">
                <label>Задание:</label>
                <input type="text" name="title" placeholder="Не менее 5 символов ..."><br>
                <label>Описание задания:</label>
                <input type="text" name="note" placeholder="Не менее 10 символов ..."><br>
                <label>Выбрать ответственного юзера:</label>
                <select name="user_id" size="3" multiple form="nubexForm">
                        {% for user in user_list %}
                            <div class="ui segment">
                                <option>{{ user.login }}</option>p>
                            </div>
                       {% endfor %}
                </select>
            </div>
            <button class="ui blue button" type="submit">Add</button>
        </form>

        <hr>


        {% for task in task_list %}
        <div class="ui segment">
            <p class="ui big header">{{ task.id }} | {{ task.title }}</p>
            <p class="ui gray header">Краткое описание задачи: {{ task.note }}</p>
            <p class="ui gray header">Дата создания задачи: {{ task.data_create_task }}</p>
            <p class="ui gray header">Ответственный юзер: {{ task.user_id }}</p>


            {% if task.status == False %}
            <span class="ui gray label">Not Complete</span>
            {% else %}
            <span class="ui green label">Completed</span>
            {% endif %}

            <a class="ui blue button" href="/update/{{ task.id }}">Update</a>
            <a class="ui red button" href="/delete/{{ task.id }}">Delete</a>
        </div>
        {% endfor %}
    </div>


	{% endif %}

{% else %}
<p>Not login!</p>

<a href="/login">Login</a>
<a href="/register">Register</a>

{% endif %}



</body>

</html>