{% extends "base.html" %}

{% block content %}

{% if session['logged_in'] %}

	{% if data %}
	<h3>Привет!: {{data}}</h3>
	{% else %}

<a href="/logout">Logout</a> <br> <br>
	<form action="" method="POST">
	  <input type="text" name="login" placeholder="введите логин...">
	  <input type="submit" value="Finds">
	</form>
	{% endif %}

<a href="/logout">Logout</a> <br> <br>
    <div style="margin-top: 50px;" class="ui container">
        <div><a class="ui blue button" href="/tasksopen">Открытые задания, можно взять в работу и выполнить задание</a></div>
        </br>
        <div><a class="ui blue button" href="/taskstakework">На страницу взятых в работу заданий</a></div>
        </br>
        <div><a class="ui blue button" href="/tasksarchive ">В архив отмененных и выполненных задач</a></div>
        </br>
        <div><a class="ui blue button" href="/statistics">Страница статистики</a></div>

            <h1 class="ui center aligned header">Task Trecker v.0.0.1</h1>
	            <form id="nubexForm" class="ui form" action="{{url_for('add')}}" method="post">
                        <div class="field">
                            <label>Задание:</label>
                            <input type="text" name="title" placeholder="Не менее 5 символов ..."><br>
                            <label>Описание задания:</label>
                            <input type="text" name="note" placeholder="Не менее 10 символов ..."><br>
                            <label>Выбрать ответственного юзера:</label>
                            <select name="user_id" size="3" multiple form="nubexForm">
                                    {% for user in user_list %}
                                      <div class="ui segment">
                                          <option>{{ user.login }}</option>p>
                                      </div>
                                    {% endfor %}
                            </select>
                        </div>
                        <button class="ui blue button" type="submit">Add</button>
                </form>


        {% for task in task_list %}
        <div class="ui segment">
            <p class="ui big header">{{ task.id }} | {{ task.title }}</p>
            <p class="ui gray ">Кратко: {{ task.note }}</p>
            <p class="ui gray ">Создана: {{ task.data_create_task }}</p>

            {% if task.data_take_work == None %}
            <p class="ui gray ">Взята: пока никто не взял</p>
            {% else %}
            <p class="ui gray ">Взята: {{ task.data_take_work  }}</p>
            {% endif %}

            {% if task.status == False %}
            <p class="ui gray ">Выполнена: {{ task.data_get_done }}</p>
            {% else %}
            <p class="ui green label">Дата выполнения: {{ task.data_get_done }}</p>
            {% endif %}
            <p class="ui gray ">Кому назначена: {{ task.user_id }}</p>

            {% if task.status == False %}
            <p class="ui gray label">Not Complete</p>
            {% else %}
            <p class="ui green label">Completed</p>
            <a class="ui red button" href="/delete/{{ task.id }}">В архив</a>
            {% endif %}

            {% if task.take_work_status == False %}
            <p class="ui gray label">Ищу исполнителя!</p>
            {% else %}
            <p class="ui green label">Взята в работу!</p>
            {% endif %}

            {% if task.get_done_status == False %}
            <p class="ui gray label">Не выполнена!</p>
            {% else %}
            <p class="ui green label">Работа выполнена!</p>
             <a class="ui blue button" href="/update/{{ task.id }}">Принять работу</a>
            {% endif %}

            {% if task.take_work_status == False %}
             <a class="ui yellow button" href="/cancel/{{ task.id }}">Отменить задачу</a>
            {% endif %}

        </div>
        {% endfor %}
    </div>


{% else %}
<p>Not login!</p>

<a href="/login">Login</a>
<a href="/register">Register</a>

{% endif %}
{% endblock %}