{% extends "base.html" %}

{% block content %}

<h2>Все открытые задачи , которые можно взять в работу под своим именем</h2>
<div><a class="ui blue button" href="/">На страницу создания заданий</a></div>

     {% for task in task_list %}
        <div class="ui segment">
            <p class="ui big header">{{ task.id }} | {{ task.title }}</p>
            <p class="ui gray ">Краткое описание задачи: {{ task.note }}</p>
            <p class="ui gray ">Дата создания задачи: {{ task.data_create_task }}</p>
            <p class="ui gray ">Дата взятия в работу: {{ task.data_take_work  }}</p>
            <p class="ui gray ">Работа выполнена в : {{ task.data_get_done }}</p>
            <p class="ui gray ">Ответственный юзер: {{ task.user_id }}</p>

            {% if task.take_work_status == False %}
            <a class="ui blue button" href="/selecting/{{ task.id }}">Взять в работу</a>
            <p class="ui gray label">Ищу исполнителя!</p>
            {% else %}
            <a class="ui gray button" href="">Взять в работу</a>
            <p class="ui blue label">Взята в работу!</p>
             <a class="ui blue button" href="/workdone/{{ task.id }}">Я выполнил работу</a>
            {% endif %}

            {% if task.get_done_status == False %}

            <p class="ui gray label">Не выполнена!</p>
            {% else %}
            <p class="ui blue label">Работа выполнена!</p>
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}